{% extends "base.html" %}

{% block content %}

<h1>Add new event</h1>
<form action="/events" method = "post">
<label for="title">Event Name</label>
<input type="text" id="title" name="title">
<label for="date">Date</label>
<input type="text" id="date" name="date" >
<label for="num_guests">Number of guests</label>
<input type="text" id="num_guests" name="num_guests">
<label for="location">Location</label>
<input type="text" id="location" name="location">
<label for="description">Description</label>
<textarea name="description" id="description" cols="30" rows="2"></textarea>
<input type="submit" value="Add Event">
</form>

{% endblock %}